<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
<style>
#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#wrapper.active {
  padding-left: 0;
}

#wrapper.active #sidebar-wrapper {
  left: 0;
}

#page-content-wrapper {
  width: 100%;
}


.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
  padding-left: 60px;
}

.sidebar-nav li a span:before {
  position: absolute;
  left: 0;
  color: #41484c;
  text-align: center;
  width: 20px;
  line-height: 18px;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
    text-decoration: none;
}

.btn-menu {
  color: #000;
} 

.inset {
  padding: 20px;
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
}

.inset {
  padding: 15px;
}

}

pre{
    font-size:14px;
    font-style:normal;
    background-color:black;
    color:white
  }

b{
  font-size:17px
  }

 
</style>

</head>
<body>
  <div id="wrapper">
        <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <nav id="spy">
        <ul class="sidebar-nav nav">
          <li>
              <%= image_tag("qwinix.png", :style => "width: 250px;height:205px;padding-left: 0px;margin-left: -20px;") %>
          </li>
          <li class="sidebar-brand active">
            <a href="#home"><span class="fa fa-home solo"><h4>Home</h4></span></a>
          </li>
          <li>
            <a href="#signin" data-scroll="">
              <span class="fa fa-anchor solo"><h4>Sign In</h4></span>
            </a>
          </li>
          <li>
            <a href="#signup" data-scroll="">
              <span class="fa fa-anchor solo"><h4>Sign Up</h4></span>
            </a>
          </li>
          <li>
            <a href="#forgotpassword" data-scroll="">
              <span class="fa fa-anchor solo"><h4>Forgot Password</h4></span>
            </a>
          </li>
        </ul>
      </nav>
    </div>


    <!-- Page content -->
    <div id="page-content-wrapper">
      <div class="content-header">
        <h1 id="home">
          <a id="menu-toggle" href="#" class="glyphicon glyphicon-align-justify btn-menu toggle">
            <i class="fa fa-bars"></i>
          </a>
          Konnexe
          </h1>
      </div>

      <div class="page-content inset" data-spy="scroll" data-target="#spy">
        <div class="row">
          <div class="jumbotron text-center">
            <h1 style="color:red">API Documentation</h1>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-6 well">
            <legend id="signin"><h1 style="color:green">Sign In</h1></legend>
            <b>Details</b></br>
            <b>i. Method:</b></br> POST</br></br>
            <b>ii. URL:</b></br> http://localhost:3000/api/v1/accounts/auth/sign_in.json</br></br>
            <b>iii. Headers:</b></br>Content-type: application/json</br>
          </div>
          <div class="col-sm-6 well">
            <b>Request Body: </b>
            </br>
            <pre>
{
  "email":"ksatish@qwinix.io", 
  "password":"Password123"
}
            </pre>
            <b> Response Body:</b>
            <pre>
{
  "user": 
  {
    "id": 4,
    "provider": "email",
    "uid": "ksatish@qwinix.io",
    "name": "K Satish",
    "email": "ksatish@qwinix.io",
    "designation": "Developer",
    "organization_name": "Qwinix",
    "contact_number": "(123) 456-7895",
    "city": "Mysore",
    "state": "Karnataka",
    "industry_domain": "Software",
    "organization_value": "10000 - 20000",
    "password": null,
    "created_at": "2016-12-12T04:37:03.669Z",
    "updated_at": "2016-12-12T04:37:18.197Z",
    "image_url": null
  },
  "success": true,
  "status": 200
}
            </pre>
          </div>
          <div class="col-md-6 well">
            <legend id="signup"><h1 style="color:green">Sign Up</h1></legend>
            <b>Details</b></br>
            <b>i. Method:</b></br> POST</br></br>
            <b>ii. URL:</b></br>http://localhost:3000/api/v1/accounts/auth.json</br></br>
            <b>iii. Headers:</b></br> Content-type: application/json</br>
          </div>
          <div class="col-md-6 well">
            <p><b>Request Body: </b>
            </br>
            <pre> 
{
  "user": 
    {
      "name":"K Satish", 
      "email":"ksatish@qwinix.io", 
      "designation":"Developer", 
      "organization_name":"Qwinix", 
      "contact_number":"(123) 456-7895", 
      "city":"Mysore", 
      "state":"Karnataka", 
      "industry_domain":"Software", 
      "organization_value":"10000 - 20000", 
      "password":"Password123"
    }
}
            </p>
            </pre>
                        
            <p><b>Response Body: </b>
            <pre>
{
  "user": 
    {
      "id": 4,
      "name":"K Satish",
      "email":"ksatish@qwinix.io", 
      "designation":"Developer", 
      "organization_name":"Qwinix", 
      "contact_number":"(123) 456-7895", 
      "city":"Mysore", 
      "state":"Karnataka", 
      "industry_domain":"Software", 
      "organization_value":"10000 - 20000",
      "uid": "ksatish@qwinix.io"
    },
    "status": 201,
    "success": true,
    "message": "User created Successfully!"
}.
            </p></pre>
          </div>

          <div class="col-md-6 well">
            <legend id="forgotpassword"><h1 style="color:green">Forgot Password</h1></legend>
            <b>Details</b></br>
            <b>i. Method:</b></br> POST</br></br>
            <b>ii. URL:</b></br>http://localhost:3000/api/v1/accounts/auth/password.json</br></br>
            <b>iii. Headers:</b></br> Content-type: application/json</br></br>
            <ul>
            <li><p>After user clicks the link in the e-mail,</p></li>
            <li><p> He/she is taken to the page, where he enters password and password_confrimation and clicks update.</p></li></ul>
            <b>vi. Method:</b></br> PUT</br></br>
            <b>vii. URL:</b></br> http://localhost:3000/api/v1/accounts/auth/password.json</br></br>
            <b>viii.</b> Pass the following in the headers along with Request:</p>
            <p style="font-size:15px">
            <ul>
            <li> Content-Type</li>
            <li>  Uid</li>
            <li> Client</li>
            <li>access-token</li></ul>
          </div>
          <div class="col-sm-6 well">
          <b>Request Body: </b>
          </br>
          <pre>
{
  "email":"ksatish@qwinix.io",
  "redirect_url":"http://localhost:3000/api/v1/accounts/auth/password/edit.json"
}
          </pre>
          <b> Request Body:</b>
          <pre>
     
{
  "password":"Qwinix123",
  "password_confirmation":"Qwinix123"
}

          </pre>
          <b> Response Body:</b>
          <pre>
      
{
  "data"=> 
     {
        "id"=>4,
        "provider"=>"email",  
        "uid"=>"ksatish@qwinix.io",  
        "name"=>"K Satish",   
        "email"=>"ksatish@qwinix.io",   
        "designation"=>"Developer",   
        "organization_name"=>"Qwinix",   
        "contact_number"=>"(123) 456-7895",   
        "city"=>"Mysore",   
        "state"=>"Karnataka",   
        "industry_domain"=>"Software",   
        "organization_value"=>"10000 - 20000",   
        "password"=>"Qwinix123",   
        "created_at"=>"2016-12-07T11:31:20.831Z",
        "updated_at"=>"2016-12-07T11:31:21.041Z",   
        "image_url"=>nil
      },
     "message"=>"Your password has been successfully updated.", 
     "success"=>true, 
     "status"=>200
}
          </pre>
        </div>          
      </div>
      <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript">    
  /*Menu-toggle*/
   $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });

    /*Scroll Spy*/
    $('body').scrollspy({ target: '#spy', offset:80});

    /*Smooth link animation*/
    $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html,body').animate({
                    scrollTop: target.offset().top
                }, 1000);
                return false;
            }
        }
    });
</script>
</body>